body{
    background-color: blanchedalmond;
}
h1{
    color: blue;
}
form div input{
    width: 20%;
    font-size: large;
    margin: 5px;
}
.message{
    width: 20%;
    font-size: large;
    margin-top: 2px;
}
.message textarea{
    width: 65%;
    font-size: 20px;
    height: 100px;
}
.submit a{
    text-decoration: none;
}
a input{
   background-color: blue;
   color: aliceblue;
}
.email input{
    margin-left: 3%;
}
.message textarea{
    margin-left: 3%;
}